<form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="cnpj">CNPJ</label>
    <input type="email" class="form-control" id="cnpj" aria-describedby="emailHelp" placeholder="Digite o CNPJ" [(ngModel)]="cliente.cnpj" required>
  </div>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Digite o nome" [(ngModel)]="cliente.nome" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="cep">CEP</label>
      <input type="text" class="form-control" id="cep" aria-describedby="emailHelp" placeholder="Digite o CEP" [(ngModel)]="cliente.cep" required>
    </div>
    <div class="form-group col-md-7">
      <label for="endereco">Endereço</label>
      <input type="text" class="form-control" id="endereco" aria-describedby="emailHelp" placeholder="Digite o endereço" [(ngModel)]="cliente.endereco" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="cep">Número</label>
      <input type="number" class="form-control" id="cep" aria-describedby="emailHelp" placeholder="Digite o Número" [(ngModel)]="cliente.numero" required>
    </div>
    <div class="form-group col-md-7">
      <label for="complemento">Complemento</label>
      <input type="text" class="form-control" id="complemento" aria-describedby="emailHelp" placeholder="Digite o complemento" [(ngModel)]="cliente.complemento" required>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Sócios
    </div>
    <div class="card-body">
      <socio-edita (socioAdicionado)="onAdicionarSocio($event)"></socio-edita>
      <socio-busca [socios]="cliente.socios"></socio-busca>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Telefones
    </div>
    <div class="card-body">
      <telefone-edita (telefoneAdicionado)="onAdicionarTelefone($event)"></telefone-edita>
      <telefone-busca [telefones]="cliente.telefones"></telefone-busca>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Emails
    </div>
    <div class="card-body">
      <email-edita (emailAdicionado)="onAdicionarEmail($event)"></email-edita>
      <email-busca [emails]="cliente.emails"></email-busca>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="!clienteForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
      <i class="fa fa-floppy-o"></i> Salvar
    </button>
  </div>
</form>
