<div class="row">

</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>CPF</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let socio of socios">
      <td>{{socio.cpf}}</td>
      <td>{{socio.nome}}</td>
      <td>
        <a class="btn text-danger" (click)="deletarSocio(socio)"></a>
      </td>
    </tr>
  </tbody>
</table>
