<div class="row">

</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>DDD</th>
      <th>Número</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let telefone of telefones">
      <td>{{telefone.cpf}}</td>
      <td>{{telefone.ddd}}</td>
      <td>{{telefone.numero}}</td>
      <td>
        <a class="btn text-danger" (click)="deletarTelefone(telefone)"></a>
      </td>
    </tr>
  </tbody>
</table>
