<div class="row">

</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let email of emails">
      <td>{{email.email}}</td>
      <td>
        <a class="btn text-danger" (click)="deletarEmail(email)"></a>
      </td>
    </tr>
  </tbody>
</table>
