<form class="form-inline" #emailForm="ngForm">
    <label class="sr-only" for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Digite o email" ngModel required>
   
    <button [disabled]="!emailForm.valid" (click)="adicionarEmail(emailForm.value)" class="btn btn-primary">
      <i class="fa fa-floppy-o"></i> Incluir
    </button>
</form>
