<form class="form-inline" #socioForm="ngForm">
    <label class="sr-only" for="cpf">CPF</label>
    <input type="text" class="form-control" id="cpf" name="cpf" aria-describedby="emailHelp" placeholder="Digite o CPF" ngModel required>
     
    <label class="sr-only" for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" aria-describedby="emailHelp" placeholder="Digite o nome" ngModel required>
    
    <button [disabled]="!socioForm.valid" (click)="adicionarSocio(socioForm.value)" class="btn btn-primary">
      <i class="fa fa-floppy-o"></i> Incluir
    </button>
</form>
