
<div class="row">
  <a class="btn" routerLink="/cliente">Novo cliente</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>CNPJ</th>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{cliente.cnpj}}</td>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.endereco}}</td>
      <td>
        <a class="btn" routerLink="/cliente/{{cliente.id}}"></a>
        <a class="btn text-danger" (click)="deletarCliente(cliente)"></a>
      </td>
    </tr>
  </tbody>
</table>
