<form class="form-inline" #telefoneForm="ngForm">
    <label class="sr-only" for="tipo">Tipo</label>
    <input type="text" class="form-control" id="cpf" name="cpf" aria-describedby="emailHelp" placeholder="Digite o Tipo" ngModel required>
    
    <label class="sr-only" for="ddd">DDD</label>
    <input type="number" class="form-control" id="ddd" name="ddd" aria-describedby="emailHelp" placeholder="Digite o DDD" ngModel required>
    
    <label class="sr-only" for="numero">Número</label>
    <input type="text" class="form-control" id="numero" name="numero" aria-describedby="emailHelp" placeholder="Digite o número" ngModel required>
   
    <button [disabled]="!telefoneForm.valid" (click)="adicionarTelefone(telefoneForm.value)" class="btn btn-primary">
      <i class="fa fa-floppy-o"></i> Incluir
    </button>
</form>
